.search-form__input-wrapper{
  position: relative;
  z-index: 1;
}

.search-form__search-icon{
  position: absolute;
  z-index: 1;
  left: 32px;
  top: calc(50% - 8px);
}

.search-form__input{
  padding-left: 74px;
}